<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Lourdes Cobo-Reyes y Rodrigo Guinovart.
</p>

<img src="/images/lourdes.jpg" />

<img src="/images/rodri.jpg"/>

<p>URL repositorio GitHub: https://github.com/lourdescobo</p>
