<!DOCTYPE html>
<html>
<head>
	<title>Ayuda</title>

</head>

<body>
<p>Un Quiz es una red social para crear adivinanzas en la que se permite la interacción de muchos usuarios. Sirve para mostrar la arquitectura de una aplicacion Web en el lado del servidor y los elementos mas importantes de un portal Web. El portal que se utiliza es Heroku, un servicio en la nube que alberga aplicaciones.

</body>
</html>
